@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll working */
.scrollbar-hide::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none;    /* IE, Edge */
  scrollbar-width: none;       /* Firefox */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

